<nav class="navegador">
    <div class="logo-cel">R</div>
    <div class="links">
        <a [routerLink]="['/perfil']" routerLinkActive="active-link"><p>Perfil</p> <span class="fas fa-user-circle"></span> </a>
        <a [routerLink]="['/buscador']" routerLinkActive="active-link"><p>Buscador</p> <span class="fas fa-search"></span></a>
        <a [routerLink]="['/favoritos']" routerLinkActive="active-link"><p>Favoritos</p> <span class="fas fa-heart"></span></a>
        <a [routerLink]="['/solicitudes']"><p>Solicitudes</p> <span class="fas fa-user-plus"></span></a>
        <a [routerLink]="['/preferencias']" routerLinkActive="active-link"><p>Configuracion</p> <span class="fas fa-cog"></span></a>
    </div>
    <div class="logo">
        Roomeet
    </div>
</nav>