form {
    div {
        margin-bottom: .7rem;
        input[type="radio"]:not(:first-child) {
            margin-left: 1rem;
        }
    }
}

.radio-inputs p {
    font-weight: bold;
}

.container-mw {
    h2 {margin-top: 0}
    border: solid 3px black;
    padding: 1rem 3rem;
}