<div *ngIf="!confirmed;else confirmedContent" class="pc-container">
    <div>
        <h1 class="text-center">Configuracion de perfil</h1>
        <p>Por motivos de seguridad la primera vez que intentes modificar tu perfil luego de iniciar sesion debes ingresar tu contraseña para poder modificar tus datos.</p>
    </div>
    <hr>
    <form class="pass-confirmation" #passConfirmation="ngForm" (ngSubmit)="comfirmPass(passConfirmation)">
        <div class="d-flex form-group">
            <label for="password">Contraseña</label>
            <div class="pass-input">
                <input type={{type}} #password="ngModel" ngModel name="password"  minlength="8" maxlength="20" required>
                <i [ngClass]="type === 'password' ? 'far fa-eye' : 'fas fa-eye-slash'" (click)="setType()"></i>
            </div>
            <!-- Validacion -->
            <div class="text-danger" *ngIf="password.touched && password.invalid">
                <p *ngIf="password.errors?.['required']">Campo obligatorio</p>
                <p class="text-danger" *ngIf="password.errors?.['minlength']">Este campo requiere min. 8 caracteres</p>
            </div>
        </div>
        <button type="submit" [disabled]="passConfirmation.pristine || passConfirmation.invalid">Confirmar</button>
    </form>
</div>

<ng-template #confirmedContent>
    <div class="container-mw">

        <div class="fl-links">
            <a [routerLink]="['/preferencias/perfil/hobbies']"><span class="fas fa-puzzle-piece"></span> Administrar hobbies</a>
            <a [routerLink]="['/preferencias/perfil/fotos']"><span class="far fa-images"></span> Administrar fotos</a>
        </div>
        <h2>Foto de perfil</h2>
        <div class="foto-perfil">
            <div class="preview">
                <img class="fperfil" src={{preview}} width="150" height="150" alt="">
            </div>
            <form (ngSubmit)="uploadImg(newImg)" #newImg="ngForm">
                <input accept="image/*" type="file" id="newimage" #newfoto="ngModel" ngModel name="newimage" (change)="loadImg($event)" required hidden>
                <label for="newimage" class="upload-btn">Subir imagen</label>
                <button type="submit" [disabled]="newImg.invalid">Aplicar cambios</button>
            </form>
        </div>
        <form #editProfile="ngForm" (ngSubmit)="editarPerfil(editProfile)">
            <h2>Datos personales</h2>
            <div class="editar-perfil">
                <div class="d-flex flexd-col">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" #username="ngModel" ngModel="{{user.username}}" name="username" pattern="[a-zA-Z0-9-]+" minlength="6" maxlength="20" [required]="!username.pristine && username.value == '' ? true : false" disabled>
                        <p class="text-danger" *ngIf="username.errors?.['minlength'] || !username.pristine && username.value == '' ">Este campo requiere min. 6 caracteres</p>
                        <p class="text-danger" *ngIf="username.errors?.['pattern']">Este campo no acepta caracteres especiales</p>
                    </div>
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" #name="ngModel" ngModel="{{user.nombre}}" name="name">
                    </div>
                    <div>
                        <p>A que te dedicas?</p>
                        <input type="radio" #profession="ngModel" ngModel name="profession" value="Estudiante" [checked]="user.profesion == 'Estudiante'">
                        <label>Estudiar</label>
                        <input type="radio" #profession="ngModel" ngModel name="profession" value="Trabajador" [checked]="user.profesion == 'Trabajador'">
                        <label>Trabajar</label>
                        <input type="radio" #profession="ngModel" ngModel name="profession" value="Desempleado" [checked]="user.profesion == 'Desempleado'">
                        <label>Ninguno</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Descripcion</label>
                    <textarea #description="ngModel" ngModel="{{user.descripcion}}"  name="description"></textarea>
                </div>
            </div>
            <div class="editar-perfil radio-inputs">
                <div>
                    <p>Como te identificas?</p>
                    <input type="radio" id="man" #sex="ngModel" ngModel name="sex" value="Masculino" [checked]="user.sexo == 'Masculino'">
                    <label for="man">Hombre</label>
                    <input type="radio" id="woman" #sex="ngModel" ngModel name="sex" value="Femenino" [checked]="user.sexo == 'Femenino'">
                    <label for="woman">Mujer</label>
                    <input type="radio" id="nonbinary" #sex="ngModel" ngModel name="sex" value="No Binario" [checked]="user.sexo == 'No Binario'">
                    <label for="nonbinary">No binario</label>
                </div>
                <div>
                    <p>Bebes alcohol?</p>
                    <input type="radio" #drinks="ngModel" ngModel name="drinks" value="No" [checked]="user.bebedor == 'No'">
                    <label>No</label>
                    <input type="radio" #drinks="ngModel" ngModel name="drinks" value="Si" [checked]="user.bebedor == 'Si'">
                    <label>Si</label>
                </div>
                <div>
                    <p>Fumas cigarrillos?</p>
                    <input type="radio" #smokes="ngModel" ngModel name="smokes" value="No" [checked]="user.fumador == 'No'">
                    <label>No</label>
                    <input type="radio" #smokes="ngModel" ngModel name="smokes" value="Si" [checked]="user.fumador == 'Si'">
                    <label>Si</label>
                </div>
                <div>
                    <p>Te gusta hacer fiestas en tu casa?</p>
                    <input type="radio" #parties="ngModel" ngModel name="parties" value="No" [checked]="user.fiestas == 'No'">
                    <label>No</label>
                    <input type="radio" #parties="ngModel" ngModel name="parties" value="Si" [checked]="user.fiestas == 'Si'">
                    <label>Si</label>
                </div>
                <div>
                    <p>Tienes mascotas?</p>
                    <input type="radio" #pets="ngModel" ngModel name="pets" value="No" [checked]="user.mascotas == 'No'">
                    <label>No</label>
                    <input type="radio" #pets="ngModel" ngModel name="pets" value="Si" [checked]="user.mascotas == 'Si'">
                    <label>Si</label>
                </div>
                <div>
                    <p>Tienes hijos?</p>
                    <input type="radio" #childs="ngModel" ngModel name="childs" value="No" [checked]="user.hijos == 'No'">
                    <label>No</label>
                    <input type="radio" #childs="ngModel" ngModel name="childs" value="Si" [checked]="user.hijos == 'Si'">
                    <label>Si</label>
                </div>
            </div>
            <button type="submit" [disabled]="editProfile.invalid || editProfile.pristine"><span class="fas fa-save"></span> Guardar</button>
            <button type="button" (click)="editProfile.reset()"><span class="fas fa-save"></span> Limpiar formulario</button>
        </form>
    </div>
</ng-template>