.pass-confirmation {
    max-width: 500px;
    margin: auto;
    button {
        margin-top: 1rem;
        float: right;
    }
}

.editar-perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    
    .form-group {
        display: flex;
        flex-direction: column;

        textarea {
            height: 150px;
        }
    }
} 
    