<div *ngIf="!confirmed" class="editar-perfil">
    <form class="pass-confirmation" #passConfirmation="ngForm" (ngSubmit)="comfirmPass(passConfirmation)">
        <div class="d-flex form-group pass-input">
            <label for="password">Contraseña</label>
            <input type={{type}} #password="ngModel" ngModel name="password"  minlength="8" maxlength="20" required>
            <i [ngClass]="type === 'password' ? 'far fa-eye' : 'fas fa-eye-slash'" (click)="setType()"></i>
            <!-- Validacion -->
            <div class="text-danger" *ngIf="password.touched && password.invalid">
                <p *ngIf="password.errors?.['required']">Campo obligatorio</p>
                <p class="text-danger" *ngIf="password.errors?.['minlength']">Este campo requiere min. 8 caracteres</p>
            </div>
            <div class="text-success" *ngIf="password.valid">Perfecto!</div>
        </div>
        <button type="submit" [disabled]="passConfirmation.invalid">Confirmar</button>
    </form>
</div>

<div *ngIf="confirmed">
    <input type="text" name="" id="" value="{{user.username}}">
</div>