/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');

body, html {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: 'Titillium Web', sans-serif;
}

p {margin: 0}

.container-mw {
    max-width: 1000px;
    margin: auto;
    padding: .5rem .5rem;
    box-sizing: border-box;
}

.pass-input {
    display: flex;
    flex-direction: column;
    position: relative;
    i {
        position: absolute;
        right: 10px;
        top: .45rem;
    }
}

.d-flex {
    display: flex;
    gap: 1rem;
}

.flexd-col {flex-direction: column;}
.flexd-col-r {flex-direction: column-reverse;}

.form-group {
    flex-direction: column;

    input {
        border-radius: 5px;
        border: solid 1px;
        padding: .4rem .5rem;
    }
}

.centered {
    display: flex;
    justify-content: center;
}

.guard-send {
    justify-content: space-between;

    a {
        color: black;
        text-decoration: none;
        padding: 7px .5rem;
        border-radius: 5px;
    }

    a:hover {
        background-color: rgba(85, 84, 84, 0.774);
        color: white;
    }
}

button {
    padding: 9px 1.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.945);
    border-radius: 5px;
    border: 3px solid;
    border-color: white;
    color: white;
}

button:hover {
    border-color: black;
}

.text-success {color: green}
.text-danger {color: red}
.text-center {text-align: center;}
.mt-1 {margin-top: 1rem}
.d-flex {display: flex;}
.bg-green {background-color: rgb(0, 150, 0) !important;}
.bg-red {background-color: rgb(192, 63, 63) !important;}

.fl-container {
    font-family: 'Titillium Web', sans-serif;
    .fl-header {
        font-weight: bold;
        padding: .25rem 0 .25rem .5rem;
        border: solid 1px black;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .fl-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: solid 1px black;
        padding: .5rem;
        margin-bottom: 1rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        img {
            border-radius: 50%;
            border: solid 1px black;
            width: 80px;
        }

        .fl-links {
            display: flex;
            gap: .7rem;
            
            a {
                color: white;
                cursor: pointer;
                text-decoration: none;
                padding: .5rem 1.5rem;
                border-radius: 5px;
                background-color: black;
            }
    
            a:hover {
                color: white;
            }
        }
    }

    @media (max-width: 670px) {
        .fl-links {
            flex-direction: column;
        }

        img {
            width: 100px !important;
        }
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.cerrar {
    z-index: 2;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
}

.btn-disabled {
    background-color: grey;
    border-color: grey;
    color: white;
}

.btn-disabled:hover {
    border-color: transparent;
}