.add-hobbie {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
}

.hobbies-header {
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 1rem;
}

.hobbies {
    max-width: 600px;
}

.hobbie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .categoria {text-transform: capitalize;}
    .hobbie-text {text-transform: capitalize;}
}

.form-group {
    display: flex;
    width: 100%;
}

.create-hobbie .buttons {
    margin-top: 1rem;
}

@media(min-width: 568px) {
    .create-hobbie {
        display: grid;
        grid-template-columns: .3fr 1fr 100px;
        gap: 1rem;
        align-items: flex-end;
    }
}

@media(max-width: 567px) {
    .add-hobbie {
        flex-direction: column;
        align-items: center;
    }

    .create-hobbie {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
}